//Colours
$primary-colour: #FA7268;
$secondary-colour: #4ECDC4;
$grey: #292F36;
$white: #f7f7f7;

//breakpoints
$portfolio-breakpoints: (
  "trashbag": 360px,
  "phone": 400px,
   "phone-wide": 480px,
   "phablet": 560px,
   "tablet-small": 640px,
   "tablet": 768px,
   "navigation": 950px,
   "bulma-tablet-wide": 1024px, 
   "tablet-wide": 1080px,
   "desktop": 1248px,
   "desktop-wide": 1440px,
   "1700": 1700px,
   "1600": 1600px,
   "1500": 1500px,
); 

//mixins
@mixin mq($width, $type: max) {
  @if map_has_key($portfolio-breakpoints, $width) {
      $width: map_get($portfolio-breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
}


//buttons
.btn-inverted {
    padding: 10px 20px;
    margin: 20px 10px;
    border: 1px solid $secondary-colour;
    background: transparent;
    color: $secondary-colour;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
        background: $secondary-colour;
        color: $white;
    }
    a {
      color: $secondary-colour;
      text-decoration: none;
    }
}

.btn-solid {
    margin: 50px 20px;
    padding: 20px 40px;
    background: $secondary-colour;
    border: 1px solid $secondary-colour;
    cursor: pointer;
    transition: all .5s ease;
    z-index: 2;
    pointer-events: auto;
    color: $grey;
    i {
      transition: all 0.5s ease;
      color: $grey;
    }
    &:hover {
      background: transparent;
      color: $white;
      i {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        color: $white;
      }
    }
    a {
      color: $grey;
      text-decoration: none;
    }
  }

  .btn-transparent {
    margin: 50px 20px;
    padding: 20px 40px;
    background: transparent;
    border: 1px solid $secondary-colour;
    color: $white;
    cursor: pointer;
    transition: all .5s ease;
    z-index: 2;
    pointer-events: auto;
    i {
      transition: all 0.5s ease;
    }
    &:hover {
      background: $secondary-colour;
      color: $white;
      i {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        transform: rotateX(180deg);color: $white;
      }
    }
  }